# currently unneeded assets
assets/bread/!
assets/portraits
assets/skins

# currently unneeded code
commands/!
util/!

# packages
node_modules

# privy to me
TODO
authorize.txt
config.json
contribute
Decrypted
