# currently unneeded assets
assets/blocks/!
assets/bread/!
assets/heroes/!
assets/portraits
assets/sbws/!
assets/skills

# currently unneeded code
commands/!
util/!

# packages
node_modules

# privy to me
contribute
Decrypted
authorize.txt
config.json
TODO
