# currently unneeded assets
assets/heroes/*/*
!assets/heroes/*/*.png
assets/portraits/*
!assets/portraits/*.png
assets/skins/*

# currently unneeded code
commands/pick.js
commands/portrait.js
commands/trivia.js
util/replaceAt.js
util/shuffleArray.js

# private
cqdb

# packages
node_modules

# privy to me
authorize.txt
config.json
